---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}" target="_blank">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% assign has_posts = false %}
    {% for post in site.publications reversed %}
      {% if post.category == category[0] and post.featured == true %}
        {% assign has_posts = true %}
      {% endif %}
    {% endfor %}
    {% if has_posts %}
      <h2>{{ category[1].title }}</h2><hr />
      <div class="grid__wrapper">
        {% for post in site.publications reversed %}
          {% if post.category != category[0] %}{% continue %}{% endif %}
          {% if post.featured != true %}{% continue %}{% endif %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
